.loader {
  background-color: rgba(var(--bg-secondary-rgb) / var(--opacity-secondary));
  text-align: center;
  padding: 1.15em;
  border-radius: .85em;
  gap: .65em;
  display: flex;
  align-items: center;
  cursor: wait;

  span {
    font-size: .9em;
    color: var(--txt-secondary);
    animation: loadingTxt 1s infinite linear;
  }

  @keyframes loadingTxt {
    from {
      opacity: .2;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: .2;
    }
  }
}
