.loader {
  background-color: rgba(var(--bg-secondary-rgb) / 2%);
  text-align: center;
  padding: 1.15em;
  border-radius: 1em;
  gap: .65em;
  display: flex;
  align-items: center;

  span {
    font-size: .9em;
    color: var(--txt-secondary);
  }
}
