.main {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  width: 600px;
  color: var(--c-white);
  text-align: center;
  font-size: 18px;
  line-height: 1.4;

  a {
    text-decoration: underline;
  }
}
