.main {
  padding: 16px;
  background-color: var(--c-white);
  color: var(--c-black);
  border-radius: 8px;
  margin: 8px 0;

  &[data-status="info"] {
    background-color: blue;
  }
  &[data-status="success"] {
    background-color: green;
  }
  &[data-status="warning"] {
    background-color: orange;
  }
  &[data-status="danger"] {
    background-color: red;
  }
}
