.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  background: url("/img/bg-hero.png") center/cover;
  border-right: 2px solid var(--c-black);
  padding: var(--padding-main);
}

.logo {
  width: 160px;
  height: 40px;
  background-color: white;
}

.apps {
  margin-top: 16px;
}

.menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:hover {
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .icon {
      font-size: 0;
    }
  }
  path {
    fill: var(--c-white);
  }
}
