.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  background: url("/img/bg-hero.png") center/cover;
  border-right: 2px solid var(--c-black);
  padding: var(--padding-main);
}

.logo {
  display: block;
  width: 120px;
  height: 30px;
  background-color: white;
  color: var(--c-black);
}

.apps {
  margin-top: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover,
  [data-active="true"] > & {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .icon {
    font-size: 0;
  }

  path {
    fill: var(--c-white);
  }
}
