.main {
  margin-top: 16px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.list {
  margin-top: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Title {
    font-weight: 700;
  }

  &Subtitle {
    font-size: 14px;
    font-weight: 100;
  }
}
