.main {
  padding: calc(var(--marge-primary) + var(--marge-secondary));
  padding-left: calc(var(--sidebar-width) + var(--marge-secondary));
  background-color: var(--bg-primary);

  &::before {
    content: '';
    inset: var(--marge-primary);
    left: var(--sidebar-width);
    position: fixed;
    border-radius: var(--radius-primary);
    z-index: 100;
    box-shadow: 0 0 0 var(--sidebar-width) var(--bg-body);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  padding-top: 0;
  border-bottom: 1px solid var(--c-white);

  &Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-white);
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Title {
    font-weight: 700;
  }

  &Subtitle {
    font-size: 14px;
    font-weight: 100;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  padding-bottom: 0;
  border-top: 1px solid var(--c-white);
}
