.main {
  --gap: calc(var(--marge-secondary) / 1.5);
	--opacity-primary: 10%;
	--opacity-secondary: 5%;
  --gutter: var(--marge-secondary);
  padding: calc(var(--marge-primary) + var(--gutter));
  padding-left: calc(var(--sidebar-width) + var(--gutter));
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &::before {
    content: '';
    inset: var(--marge-primary);
    left: var(--sidebar-width);
    position: fixed;
    border-radius: var(--radius-primary);
    z-index: 100;
    box-shadow: 0 0 0 var(--sidebar-width) var(--bg-body);
    pointer-events: none;
    user-select: none;
  }
}

.header {
  --title: calc(20px + 15 * (100vw - 320px) / 1080); 
  --icon: calc(var(--title) * 1.75);
  --color: 255 255 255;
  display: flex;
  align-items: center;
  gap: calc(var(--title) / 1.5);

  &Icon {
    width: var(--icon);
    height: var(--icon);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-light);
    border-radius: calc(var(--icon) / 4);

    & > * {
      font-size: calc(var(--title) / 1.1);
    }
  }

  &Title {
    font-size: var(--title);
    font-weight: 600;
    font-family: var(--font-family-heading);
  }

  &Subtitle {
    font-size: .95em;
    color: var(--txt-secondary);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--marge-grid);
}